body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

#main {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

#img-div {
    text-align: center;
    margin-bottom: 20px;
}

#image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; /* Center the image */
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#img-caption {
    font-style: italic;
    margin-top: 8px;
}

#tribute-info {
    text-align: justify;
}

#tribute-link {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #007bff; /* Bootstrap's primary color for links */
}

#tribute-link:hover {
    text-decoration: underline;
}